#app {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url("../img/brewerybg.jpg") no-repeat;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

/* Color Classes*/

.frosty-porter {
    background-color: #30161166;
    -webkit-backdrop-filter: saturate(200%) blur(20px);
    backdrop-filter: saturate(200%) blur(20px);
}
.frosty-porterdk    {
    background-color: #30161199;
    -webkit-backdrop-filter: saturate(200%) blur(20px);
    backdrop-filter: saturate(200%) blur(20px);
}
.frosty-foam {
    background-color: #DDC08F66;
    -webkit-backdrop-filter: saturate(200%) blur(20px);
    backdrop-filter: saturate(200%) blur(20px);
}
.bg-porter {
    background-color: #301611;
}

.bg-belgian {
    background-color: #68170B;
}

.bg-fruit {
    background-color: #A83518;
}

.bg-wheat {
    background-color: #E5932B;
}

.bg-foam {
    background-color: #DDC08F;
}

.text-porter {
    color: #301611;
}

.text-belgian, .text-fruit:hover {
    color: #68170B;
}

.text-fruit {
    color: #A83518;
}

.text-wheat {
    color: #E5932B;
}

.text-foam, .text-wheat:hover {
    color: #DDC08F;
}